@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Housettely";
  src: url("/public/HousttelySignature-GOonZ.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.loader {
  width: 100vw;
  height: 100vh;
}

.loader-clip {
  width: 100vw;
  height: 33.3vh;
  overflow: clip;
  z-index: 10000;
  position: absolute;
}

.clip-top {
  top: 0;
  height: 50vh;
  clip-path: inset(0 0 0 0);
  background-color: #000;
}
.clip-bottom {
  bottom: 0;
  height: 50vh;
  clip-path: inset(0 0 0 0);
  background-color: #000;
}

.clip-center {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 33.3vh;
  top: 33.3vh;
}

.marquee {
  top: 200%;
  left: 50%;
  width: 200vw;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

.marquee-container {
  width: 100%;
  display: flex;
  padding: 0.2em;
  align-items: center;
  justify-content: space-between;
}

.container__wrapper {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Neue Montreal";
  justify-content: space-between;
}

.container__wrapper .nav,
.container__wrapper .footer {
  width: 100%;
  display: flex;
  padding: 2em 4em;
  text-align: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items a {
  color: #000;
  padding: 0.3rem 2rem;
  text-decoration: none;
  border: #000;
}
.nav-items a:hover {
  background: #000;
  color: white;
}

.nav-items a:first-child {
  border-right: #000 solid;
}
.nav-items a:last-child {
  border-left: #000 solid;
}

.logo {
  font-size: 3em;
  text-transform: lowercase;
}
